// // // // // // // // // //
//
//       About Project
//
// // // // // // // // // //

.about-project-page {
    @include transitions(margin-top 0.8s ease-in-out, opacity 2s ease-in-out);
    color: white;
    font-family: "MaisonNeue-Light";
    opacity: 0;
    @include mediaMin($tablet) {
        margin-top: 75px;
    }
    // animations
    &.slideIn {
        opacity: 1;
        .left {
            left: 0;
        }
        .right {
            right: 0;
        }
    }
    .left {
        left: -10px;
    }
    .right {
        right: -10px;
    }
    a {
        @extend %transition;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid rgba(white, 0.2);
        &:hover {
            border-bottom-color: rgba(white, 0.3);
        }
    }
    > p {
        text-align: justify;
    }
    p {
        @include transitions(left 2s ease-in-out, right 2s ease-in-out);
        position: relative;
        max-width: 600px;
        margin: 20px auto;
        padding: 0 15px;
    }
    .contact-info {
        margin-top: 70px;
        @include mediaMin($tablet) {
            margin-top: 90px;
        }
        p:first-of-type {
            margin-bottom: 40px;
        }
    }
} 