// // // // // // // // // //
//
//   Candidate Card
//
// // // // // // // // // //

.candidate-wrap {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    // border: 1px solid yellowgreen;
    > span {
        color: #555;
        line-height: 1.8em;
        margin-bottom: 5px;
    }
    span {
        display: block;
        border-radius: 5px;
    }
    .support {
        font-size: 12px;
        line-height: 1.2em;
        margin: 0 auto 10px;
        border: 2px solid transparent;
    }
    .support-yes {
        color: $green;
        border-color: $green;
        width: 6em;
    }
    .support-no {
        color: $red;
        border-color: $red;
        width: 7em;
    }
    .support-unknown {
        color: $gold;
        border-color: $gold;
        width: 6em;
    }
    a {
        color: #555;
    }
    .district {
        color: #555;
        font-size: smaller;
    }
}