// // // // // // // // // //
//
//   Candidate Avatar
//
// // // // // // // // // //

.avatar {
    position: relative;
    width: 70px;
    margin: 0 auto;
    // Candidate Head Shot Img
    .img-wrap {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }

    // // // // // // //
    //
    // PARTY ICONS
    //
    // // // // // // //
    .party-icon-wrap {
        position: absolute;
        top: -5px;
        right: -5px;
        z-index: 1;
        &.png {
            top: -5px;
            right: -2px;
        }
        // border: 1px solid white;
        svg.question-mark {
            fill: $green;
        }
        // PNG images
        .libertarian {
            width: 25px;
            height: auto;
        }
        .independent {
            width: 20px;
        }
    }
    // // // // // // //
    //
    // Support Icons
    //
    // // // // // // //
    .support-icon-wrap {
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: 1;
    }
}
//
// Large circle with line icon / stop-sign
//
.prohibited-icon {
    @extend %abs-middle;
    width: 135%;
    height: 135%;
    fill: $red;
    &.support {
        fill: $gold;
    }
}



