// // // // // // // // // //
//
//   Candidates List
//
// // // // // // // // // //

.candidate-list {
    ul {
        height: 250px;
        // margin-right: 10px;
        padding-top: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        // border: 1px solid yellow;
        @include mediaMin(1500px) {
            height: 300px;
        }
        //
        // custom scroll bars
        //
        &::-webkit-scrollbar { // background of bar itself
            background-color: transparent;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb { // addresses the draggable scrolling element that resizes depending on the size of the scrollable element
            background-color: grey;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-corner { // addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
            background-color: transparent;
        }

        li {
            position: relative;
            float: left;
            width: 33.3%;
            height: 100%;
            margin-bottom: 50px;
            // border: 1px solid red;
            @include mediaMax(500px) {
                width: 50%;
            }
            @include mediaMinMax(900px, 1000px) {
                width: 50%;
            }
            @include mediaMin(1500px) {
                margin-top: 20px;
            }
        }
    }
}

body {

    scrollbar-base-color: #000;
    scrollbar-face-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: black;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
}