// // // // // // // // // //
//
//   Candidates List
//
// // // // // // // // // //

.candidate-list {
    // border: 1px solid white;
    margin-top: 40px;
    ul {
        li {
            padding: 20px 0;
            border-bottom: 1px solid;
        }

    }
}

html, body {
    //
    // custom scroll bars
    //
    &::-webkit-scrollbar { // background of bar itself
        background-color: #444;
        background-color: black;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb { // addresses the draggable scrolling element that resizes depending on the size of the scrollable element
        background-color: grey;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-corner { // addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
        background-color: transparent;
    }
}

//
// Loading Spinner
//
.sk-circle {
    width: 30px !important;
    height: 30px !important;
}
.loading-spinner {
    @extend %abs-middle;
    div {
        &:nth-of-type(1n) {
            color: #e74949;
        }
        &:nth-of-type(2n) {
            color: white;
        }
        &:nth-of-type(3n) {
            color: #07648e;
        }
    }
}