// // // // // // // //
//
// States Map
//
// // // // // // // //
.usa-map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    // border: 1px solid white;
    
    .us-state-map {
        @include transitions(top 0.3s ease-in-out);
        width: 100vw;
        height: 200px;
        min-height: 200px;
        // border: 1px solid red;
        @include mediaMin(400px) {
            width: 100%;
            height: 40vw;
        }
        @include mediaMax($tablet - 1) {
            @include center;
        }
        @include mediaMin($tablet) {
            position: absolute;
            top: 0;
            left: 0;
            width: 60vw;
            height: 60vh;
        }
    }
}

// - - - - - - - - - - - -
// Map Page
// - - - - - - - - - - - -
.app.map {
    @include mediaMin($tablet) {
        .usa-map-container {
            margin-top: 0;
        }
        .us-state-map {
            position: relative;
        }
    }
}
// - - - - - - - - - - - -
// Sources Page
// - - - - - - - - - - - -
.app.sources {
    @include mediaMin($tablet) {
        .usa-map-container {
        }
        .us-state-map {

        }
    }
}

