// // // // // // // // // //
//
//   Lists Container
//
// // // // // // // // // //

.lists-container {
    @include transition(1s);
    opacity: 1;
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
    button {
        font-size: 24px;
        font-weight: lighter;
        color: white;
        width: 50%;
        height: 50px;
        border-radius: 0px;
        border-color: grey;
        &.active {
            background-color: white;
            color: black;
        }
    }
}