// // // // // // // // // //
//
//   Fonts
//
// // // // // // // // // //

//
// Mark font-family
//
@font-face{
    font-family:"Mark W01 Bold";
    src: url("/assets/fonts/Mark/bold/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix");
    src: url("/assets/fonts/Mark/bold/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix") format("eot"),url("/assets/fonts/Mark/bold/41c8162d-c2a6-49b0-8139-8bebab187588.woff2") format("woff2"),url("/assets/fonts/Mark/bold/4fe94f2e-7892-4785-9663-0350a7adf8c0.woff") format("woff"),url("/assets/fonts/Mark/bold/3a7daddb-0a78-4734-a699-6fe08d0e8b99.ttf") format("truetype");
}
@font-face{
    font-family:"Mark W01 Regular";
    src: url("/assets/fonts/Mark/regular/230b3c63-b497-421b-ae7d-182024bef8ac.eot?#iefix");
    src: url("/assets/fonts/Mark/regular/230b3c63-b497-421b-ae7d-182024bef8ac.eot?#iefix") format("eot"),url("/assets/fonts/Mark/regular/ec598369-4d91-4a16-9db3-6654f68d3c28.woff2") format("woff2"),url("/assets/fonts/Mark/regular/90214997-3760-4b80-a23b-fec02ab55fac.woff") format("woff"),url("/assets/fonts/Mark/regular/118e930e-1f56-4131-aee9-236212c0a10b.ttf") format("truetype");
}

//
// MaisonNeue font-family
//
@font-face {
    font-family: "MaisonNeue-Mono";
    src: url("/assets/fonts/Maison/MaisonNeue-Mono_web.woff") format("woff"), 
         url("/assets/fonts/Maison/MaisonNeue-Mono_web.woff2") format("woff2");
}
@font-face {
    font-family: "MaisonNeue-Book";
    src: url("/assets/fonts/Maison/MaisonNeue-Book.woff") format("woff"), 
         url("/assets/fonts/Maison/MaisonNeue-Book.woff2") format("woff2");
}

