// // // // // // // // // //
//
//   Candidate Avatar
//
// // // // // // // // // //

.avatar-wrap {
    position: relative;
    width: 40px; // Base width needed for IE
    @include mediaMin(500px) {
        height: 100%;
        width: 72px; // to account for absolutely positioned nested img
    }
    @include mediaMin($desktop) {
        width: 80px; // to account for absolutely positioned nested img
    }
    .avatar-img {
        @extend %transition;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 10%;
        background-position-x: 50%;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        @include mediaMin(500px) {
            @include abs-middle;
            width: 60px;
            height: 60px;
        }
        @include mediaMin($desktop) {
            width: 70px;
            height: 70px;
        }
        .prohibited-icon {
            @extend %abs-middle;
            width: 135%;
            height: 135%;
            fill: $red;
            &.support {
                fill: $gold;
            }
        }
    }
    .party-icon {
        @extend %transition;
        position: relative;
        top: -5px;
        left: -1px;
        width: 36px;
        height: 36px;
        &.libertarian {
            width: 32px;
            height: 32px;
            left: -2px;
        }
        @include mediaMin(500px) {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 12px;
            right: -5px;
            left: auto;
            &.libertarian {
                height: 26px;
                left: auto;
            }
        }
        @include mediaMin($desktop) {
            width: 36px;
            height: 36px;
            top: 5px;
            right: -10px;

            &.libertarian, 
            &.independent {
                width: 32px;
                height: 32px;
            }
            &.independent {
                top: 8px;
            }
        }
    }
}