// // // // // // // // // //
//
//   Candidate Avatar
//
// // // // // // // // // //

.avatar-wrap {
    position: relative;

    .avatar-img {
        position: relative;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 10%;
        background-position-x: 50%;
        // border: 1px solid white;
        .prohibited-icon {
            @extend %abs-middle;
            width: 135%;
            height: 135%;
            fill: $red;
            &.support {
                fill: $gold;
            }
        }
    }
    .party-icon {
        position: relative;
        top: -5px;
        width: auto;
        height: 36px;
    }
}