// // // // // // // // // //
//
//   Candidate Avatar
//
// // // // // // // // // //

.avatar-wrap {
    position: relative;
    @include mediaMin($tablet) {
        height: 100%;
        width: 80px; // to account for absolutely positioned nested img
    }
    .avatar-img {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 10%;
        background-position-x: 50%;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        @include mediaMin($tablet) {
            @include abs-middle;
            width: 74px;
            height: 74px;
        }
        .prohibited-icon {
            @extend %abs-middle;
            width: 135%;
            height: 135%;
            fill: $red;
            &.support {
                fill: $gold;
            }
        }
    }
    .party-icon {
        position: relative;
        top: -5px;
        width: auto;
        height: 36px;
        &.libertarian {
            height: 32px;
            left: -2px;
        }
        @include mediaMin($tablet) {
            position: absolute;
            top: 8px;
            right: -5px;
        }
    }
}