// // // // // // // // // //
//
//   Candidate Card
//
// // // // // // // // // //

.candidate-wrap {
    display: flex;
    justify-content: space-between;
    font-family: "MaisonNeue-Book";
    height: 100px;
    padding: 10px;
    border: 1px solid yellowgreen;
}



