// // // // // // // // // //
//
//   Candidate Info
//
// // // // // // // // // //

.info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    @include mediaMin($tablet) {
        margin: 0;
        margin-left: 10px;
    }
    h3 {
        font-family: "MaisonNeue-Light";
        font-size: 18px;
        color: $offwhite;
    }
    .links-wrap {
        font-family: "MaisonNeue-Book";
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        @include mediaMin($tablet) {
            margin-top: 10px;
        }
        span {
            &:nth-of-type(2) {
                margin-left: 15px;
            }
        }
        a {
            @extend %transition;
            font-size: 13px;
            color: grey;
            &:hover {
                color: lightgrey;
            }
        }
    }
}