// // // // // // // // // //
//
//   Candidate Support
//
// // // // // // // // // //

// SUPPORT
.support-wrap {
    font-family: "MaisonNeue-Mono";
    position: relative;
    font-size: 10px;
    height: 100%;
    width: 120px;
    @include mediaMax(340px) {
        font-size: 8px;
    }
    @include mediaMin($tablet) {
        height: 36px;
        margin-right: 10px;
    }
        
    // border: 1px solid blue;
    span {
        position: absolute;
        bottom: 10px;
        right: 0;
        height: 22px;
        line-height: 18px;
        padding: 1px 6px;
        padding-right: 20px;
        border: 2px solid transparent; // color overrides below
        border-radius: 3px;
        @include mediaMin($tablet) {
            padding-right: 30px;
        }
        svg {
            @include middleR(-10px);
            width: auto;
            height: 25px;
            @include mediaMin($tablet) {
                height: 36px;
            }
        }
    }
    .support-yes {
        color: $green;
        border-color: $green;
    }
    .support-no {
        color: $red;
        border-color: $red;
    }
    .support-unknown {
        color: $gold;
        border-color: $gold;
    }
}