// // // // // // // // // //
//
//   Candidate Support
//
// // // // // // // // // //

// SUPPORT
.support-wrap {
    font-family: "MaisonNeue-Mono";
    position: relative;
    font-size: 10px;
    height: 100%;
    float: right;
    
    span {
        position: absolute;
        bottom: 15px;
        right: 0;
        height: 22px;
        line-height: 18px;
        padding: 1px 6px;
        padding-right: 20px;
        border: 2px solid transparent; // color overrides below
        border-radius: 3px;
        @include mediaMin(500px) {
            padding-right: 30px;
            bottom: 30px;
        }
        svg {
            @include middleR(-10px);
            width: auto;
            height: 25px;
            @include mediaMin(500px) {
                height: 36px;
            }
        }
    }
    .support-yes {
        color: $green;
        border-color: $green;
    }
    .support-no {
        color: $red;
        border-color: $red;
        width: 95px;
        padding-right: 5px;
        @include mediaMin(500px) {
            width: 105px;
        }
    }
    .support-unknown {
        color: $gold;
        border-color: $gold;
    }
}