// // // // // // // // // //
//
//   Candidates Container
//
// // // // // // // // // //

.candidates-container {
    color: white;
    overflow: hidden;
    // border: 1px solid white;
    > h1 {
        margin-bottom: 10px;
    }
}
.house-wrap {
    margin-top: 20px;
}
.select-box {
    color: $offwhite;
    background-color: transparent;
    font-size: 36px;
    width: 90%;
    height: 50px;
    line-height: 50px;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
}