// // // // // // // // // //
//
//   Candidates Container
//
// // // // // // // // // //

.candidates-container {
    color: white;
    overflow: hidden;
    // border: 1px solid white;
    > h1 {
        margin-bottom: 10px;
    }
}
.house-wrap {
    margin-top: 20px;
}