// // // // // // // // // //
//
//       States Map
//
// // // // // // // // // //
.usa-map-container {
    width: 100vw;
    overflow: auto;
    // border: 1px solid blue;
}

.us-state-map {
    float: left;
    // border: 1px solid white;
    path {
        pointer-events: all;
        // border: 1px solid white;
        &:not(.DC1) {
            stroke: white;
            stroke-width: 1px;
            stroke-opacity: 0.4;
        }
        &:hover {
            opacity: 0.50;
            fill: lightgrey;
            stroke: lightgrey;
            cursor: pointer;
        }
    }
}