// // // // // // // // // //
//
//       Landing Page
//
// // // // // // // // // //

.landing-page {
    color: grey;
    padding: 0 20px;
    margin-top: 40px;
    @include mediaMin($tablet) {
        display: flex;
        justify-content: space-between;
        .us-state-map {
            width: 50vw;
        }
    }

    // // // // // //
    //
    // Text Wrap
    //
    // // // // // //
    .text-wrap {
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
        // border: 3px solid white;
        @include mediaMinMax(500px, $tablet - 1) {
            max-width: 450px;
        }
        @include mediaMin($tablet) {
            // max-width: 415px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h2 {
            font-family: "MaisonNeue-Mono";
            font-size: calc(1.2em + 1vw);
            position: relative;
            color: white;
            margin: 0 auto 15px;
            z-index: 1;
            @include mediaMin(1380px) {
                font-size: 33px;
            }
        }
        p {
            font-family: "MaisonNeue-Book";
            position: relative;
            max-width: 340px;
            z-index: 1;
            @include mediaMinMax(500px, $tablet - 1) {
                max-width: 450px;
            }
            @include mediaMin($tablet) {
                font-size: calc(14px + 0.2vw);
            }
        }
    }
    // // // // // //
    //
    // Map Wrap
    //
    // // // // // //
    .landing-map-wrap {
        position: relative;
        min-height: 300px;
        // border: 1px solid white;

        //
        // Static US Map
        //
        .us-state-map  { 
            @extend %transition;
            width: 100%;
            height: 40vh;
            opacity: 0.5;
            // border: 1px solid red;
            path {
                pointer-events: none;
            }
            @include mediaMin($tablet) {
                width: 60vw;
                height: 50vh;
                min-height: 300px;
            }
            @include mediaMin($desktop) {
                height: 60vh;
            }
        }
        //
        // Get Started Buttons
        //
        .get-started-btn {
            @extend %transition;
            @extend %abs-middle;
            font-family: "Mark W01 Regular";
            color: lightgrey;
            display: block;
            font-size: 24px;
            text-decoration: none;
            text-align: center;
            width: 271px;
            height: 70px;
            line-height: 70px;
            border: 1px solid grey;
            border-radius: 3px;
            z-index: 1;
            &:hover {
                color: white;
                border-color: white;
            }
        }
    }
}