// // // // // // // // // //
//
//       Landing Page
//
// // // // // // // // // //

.landing-page {
    color: grey;
    max-width: 370px;
    margin: 0 auto;
    // border: 1px solid greenyellow;
    h2 {
        position: relative;
        color: white;
        font-size: 42px;
        word-spacing: 10px;
        max-width: 350px;
        margin: 0 auto 15px;
        z-index: 1;
    }
    p {
        position: relative;
        max-width: 350px;
        margin: 0 auto;
        z-index: 1;
    }
    .landing-map-wrap {
        position: relative;
        height: 300px;
        // border: 1px solid white;
        //
        // Get Started Button
        //
        .a-btn {
            @extend %abs-middle;
            color: lightgrey;
            display: block;
            font-size: 1.4em;
            text-decoration: none;
            text-align: center;
            width: 170px;
            height: 45px;
            line-height: 45px;
            border: 1px solid grey;
            border-radius: 1px;
            z-index: 1;
        }
        //
        // Static US Map
        //
        .us-state-map  {
            // @extend %center;
            // // top: 0;
            // bottom: -50px;
            height: inherit;
            opacity: 0.5;
            path {
                pointer-events: none;
            }
        }
    }
}