// // // // // // // // // //
//
//      Base
//
// // // // // // // // // //

html {
    box-sizing: border-box;
    body {
        .hidden {
            display: none;
        }
    }
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-weight: lighter;
    position: relative;
    // min-height: 100vh;
    margin: 0; 
    overflow-x: hidden;
}


.no-scroll {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.no-scroll-html {
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}

.aria-hidden {
    display: none;
}



// * * * * * * * * * * * * * * * * * * * *
// Form errors
// * * * * * * * * * * * * * * * * * * * *
.form-error {
    background: lightgrey;
    color: #E22626;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
