// // // // // // // // // //
//
//      Base
//
// // // // // // // // // //

html {
    box-sizing: border-box;
    body {
        .hidden {
            display: none;
        }
    }
}



html, body {
    //
    // custom scroll bars
    //
    &::-webkit-scrollbar { // background of bar itself
        background-color: #444;
        background-color: black;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb { // addresses the draggable scrolling element that resizes depending on the size of the scrollable element
        background-color: grey;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-corner { // addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
        background-color: transparent;
    }
}

// IE custom scrollbar support
body {
    scrollbar-base-color: #000;
    scrollbar-face-color: grey;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: grey;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
}

// @-moz-document url-prefix(http:),url-prefix(https:) {
//     scrollbar {
//        -moz-appearance: none !important;
//        background: rgb(0,255,0) !important;
//     }
//     thumb,scrollbarbutton {
//        -moz-appearance: none !important;
//        background-color: rgb(0,0,255) !important;
//     }
     
//     thumb:hover,scrollbarbutton:hover {
//        -moz-appearance: none !important;
//        background-color: rgb(255,0,0) !important;
//     }
     
//     scrollbarbutton {
//        display: none !important;
//     }
     
//     scrollbar[orient="vertical"] {
//       min-width: 15px !important;
//     }
// }

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    font-weight: lighter;
    position: relative;
    min-height: 98vh;
    margin: 0; 
    padding-bottom: 100px;
    overflow-x: hidden;

    &.landing {
        padding-bottom: 0;
        @include mediaMin($tablet) {
            min-height: 0;
        }
    }
}


.no-scroll {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.no-scroll-html {
    position: relative;
    overflow: hidden;
}

.hidden {
    display: none;
}

.aria-hidden {
    display: none;
}



// * * * * * * * * * * * * * * * * * * * *
// Form errors
// * * * * * * * * * * * * * * * * * * * *
.form-error {
    background: lightgrey;
    color: #E22626;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
