// // // // // // // // // //
//
//   Social Share Buttons
//
// // // // // // // // // //

.social-share-btns {
    @include transitions(opacity 1s ease-in-out, top 1s ease-in-out);
    position: relative;
    // border: 1px solid red;
    @include mediaMin(700px) {   
        @include center;
        width: 200px;
        height: 30px;
    }
    &.landing {
        display: none;
    }
    &.about {
        @include mediaMax(599px) {
            margin-top: 30px;
        }
        @include mediaMin(600px) {  
            width: 220px; 
            ul {
                width: 100%;
                flex-direction: row;
            }
        }
        @include mediaMin(700px) {
            position: static;
        }
        @include mediaMax(899px) {
            @include transform(none);
        }
        @include mediaMin(900px) {
            @include center;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // border: 1px solid white;
        @include mediaMin(700px) {
            flex-direction: row;
            width: 200px;
        }
        
        li {
            iframe, > span {
                width: 60px;
                height: 20px;
                border-radius: 3px;
                overflow: hidden;
            }
        }
    }
}