// // // // // // // // // //
//
//       Header
//
// // // // // // // // // //

header {
    position: absolute;
    // position: relative;
    width: 100%;
    height: 80px;
    z-index: 1;
    // border: 5px solid red;
}





 