// // // // // // // // // //
//
//       Header
//
// // // // // // // // // //

header {
    position: relative;
    width: 100%;
    padding-top: 30px;
    z-index: 10;
    // border: 5px solid red;
    @include mediaMin($tablet) {
        height: 80px;
        &.sources-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: black;
        }
    }
}





 