// // // // // // // // // //
//
//       Logo
//
// // // // // // // // // //

.logo {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    margin-left: 10px;
    padding: 0 10px;
    font-size: calc(1em + 1vw);
    .monitor-icon {
        width: calc(100px + 8vw);
        fill: grey;
    }
    h1 {
        width: calc(180px + 10vw);
        margin-left: 20px;
        // border: 1px solid white;
    }
    @include mediaMin($tablet) {
        font-size: 1em;

        .monitor-icon {
            position: absolute;
            left: 0;
            top: 0;
            width: 150px;
        }
        h1 {
            @include transform(rotate(-90deg));
            position: absolute;
            left: -110px;
            top: 280px;
            width: auto;
            word-spacing: 20px;
        }
    }
}