// // // // // // // // // //
//
//       Logo
//
// // // // // // // // // //

.logo {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: "MaisonNeue-Mono";
    color: white;
    position: relative;
    font-size: calc(1em + 1vw);
    // border: 1px solid white;
    @include mediaMin($tablet) {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .monitor-icon {
        fill: grey;
        pointer-events: all;
    }
    .motto {
        font-size: calc(24px + 2vw);
        width: calc(190px + 5vw);
        line-height: 1.3em;
        padding-top: 8px;
        // border: 1px solid white;
        @include mediaMin(600px) {
            font-size: 36px;
        }
        @include mediaMin($tablet) {
            width: auto;
            padding-top: 20px;
            margin-left: 30px;
        }
    }
}