// // // // // // // // // //
//
//       Logo
//
// // // // // // // // // //

.logo {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: "MaisonNeue-Mono";
    color: white;
    position: relative;
    font-size: calc(1em + 1vw);
    @include mediaMin($tablet) {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .monitor-icon {
        fill: grey;
        pointer-events: all;
    }
    .motto {
        width: 160px;
        font-size: 24px;
        line-height: 1.3em;
        @include mediaMax(599px) {
            padding-top: 8px;
        }
        @include mediaMin(600px) {
            font-size: 36px;
            width: auto;
            line-height: 2em;
        }
        @include mediaMin($tablet) {
            width: auto;
            margin-left: 30px;
        }
    }
}