// // // // // // // // // //
//
//       Thinkful Logo
//
// // // // // // // // // //

.think-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    height: 70px;
    line-height: 50px;
    margin: 30px 0;
    span {
        font-family: "MaisonNeue-Book";
        font-size: smaller;
        position: relative;
        top: -10px;
        margin-right: 10px;
    }
    svg {
        fill: white;
    }
    @include mediaMin($tablet) {
        position: fixed;
        top: 0;
        right: 20px;
        margin: 0;
        color: grey;
        svg {
            fill: grey;
        }
    }
}