@import "scss/fonts.scss";
@import "scss/utils/**/*.scss"; // vars / functions

@import "scss/base/*.scss";
@import "scss/organisms/*.scss";
@import "scss/atoms/*.scss";  

@import 'header/*.scss';
@import 'main/**/*.scss';
@import 'footer/**/*.scss';
@import 'services/**/*.scss'; 