// // // // // // // // // //
//
//   Dropdown Select Box
//
// // // // // // // // // //

.select-form {
    @extend %transition;
    font-family: "MaisonNeue-Mono";
    position: relative;
    max-width: 380px;
    margin: 0 auto;
    border-bottom: 1px solid #555;
    &:hover {
        border-bottom-color: grey;
        svg {
            fill: grey;
        }
    }
   
}
