// // // // // // // // // //
//
//   Search Menu
//
// // // // // // // // // //

.search-form {
    // Search Input
    input {
        @include appearance(none);
        font-family: "MaisonNeue-Mono";
        background-color: transparent;
        color: white;
        font-size: 26px;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border: 0;
        border-bottom: 1px solid grey;
        &::placeholder {
            color: white;
        }
    }
    .search-arrow {
        position: absolute;
        right: 0;
        top: 20px;
        fill: grey;
        height: 25px;
        pointer-events: none;
    }
    //
    // Search results box
    //
    .results-box {
        @include transitions(max-height 0.8s ease-in-out, opacity 0.8s ease-in-out);
        width: 100%;
        height: 0;
        max-height: 0px;
        opacity: 0;
        border: 1px solid transparent;
        &.show {
            // needs bg-color if absolutely positioned
            height: auto;
            max-height: 9999px;
            opacity: 1;
            border-color: grey;
        }
        ul {
            @extend %transition;
            padding: 15px;
        }
        li {
            font-size: 24px;
            margin-top: 2.5px;   
            margin-bottom: 2.5px; 
            a {
                @extend %transition;
                color: white;
                text-decoration: none;
                display: inline-block;
                height: 1.5em;
                line-height: 1.5em;
                border: none;
                text-align: left;
                cursor: pointer;
                // :focus needed for accessibility
                &:hover, &:focus {
                    color: grey;
                }
            }
        }
    }
}