// // // // // // // // // //
//
//      Footer
//
// // // // // // // // // //

footer {
    @include transition(1.5s);
    // flex-box
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    // positioning
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 100px; 
    opacity: 0;
    @include mediaMin(600px) {
        @include center;
        flex-direction: row;
        justify-content: space-between;
        height: auto; 
        width: 90%;
    }
    &.fadeIn {
        bottom: 0;
        opacity: 1;
    }
    &.landing {
        display: none;
        @include mediaMin($tablet) {
            height: 100px;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    &.sources {
        margin-bottom: 40px;
        @include mediaMax(599px) {
            justify-content: space-around;
            height: 180px;
            margin-bottom: 20px;
        }
        @include mediaMin($tablet) {
            display: block;
            width: 100%;
            .about-proj-link {
                float: right;
            }
        }
    }
    // ABOUT PAGE
    &.about {
        height: 50px;
    }
    // ABOUT PROJ Link
    .about-proj-link {
        @extend %transition;
        font-family: "MaisonNeue-Light";
        font-size: 14px;
        color: rgba(white, 0.5);
        text-decoration: none; 
        &:hover, &:focus {
            color: lightgrey;
        }
        @include mediaMin($tablet) {
            padding-right: 20px;
            margin-bottom: 15px;
        }
    }
}

// - - - - - - - -
// Map Page
// - - - - - - - -
.app.map {
    footer {
        height: 100px; 
        @include mediaMax(599px) {
            height: 190px;
        }
    }
}