// // // // // // // // // //
//
//       Thinkful Logo
//
// // // // // // // // // //

.think-logo {
    color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 50px;
    z-index: 10;
    // border: 1px solid white;
    @include mediaMin($tablet) {
        left: auto;
        bottom: auto;
        top: 0;
        right: 0;
    }
    svg {
        fill: grey;
    }
    span {
        font-family: "MaisonNeue-Book";
        font-size: smaller;
        position: relative;
        top: -10px;
        margin-right: 10px;
    }
    svg {
        fill: grey;
    }
}

.app.sources {
    @include mediaMin($tablet) {
        .think-logo {
            position: fixed;
        }
    }
}