// // // // // // // // // //
//
//       Thinkful Logo
//
// // // // // // // // // //

.think-logo {
    color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    line-height: 50px;
    z-index: 10;
    @include mediaMin($tablet) {
        position: fixed;
        top: 25px;
        right: 25px;
        left: auto;
        margin: 0;
        color: grey;
        svg {
            fill: grey;
        }
    }
    span {
        font-family: "MaisonNeue-Book";
        font-size: smaller;
        position: relative;
        top: -10px;
        margin-right: 10px;
    }
    svg {
        fill: grey;
    }
}