// // // // // // // // // //
//
//   Candidate Source
//
// // // // // // // // // //

.candidate-source {
    // border: 1px solid white; 
    position: relative;
    min-height: 100px;
    margin-bottom: 15px;
    .source-icon {
        @extend %transition;
        @extend %abs-middle;
        width: 50px;
        height: 50px;
        &:hover {
            &.fb, 
            &.twitter .cls-2 {
                fill: white;
            }
            &.link {
                stroke: white;
            }
        }
        &.imgur {
            width: 150px;
            height: auto;
            fill: white;
        }
        &.twitter {
            // stroke: $twitter;
            .cls-1 {
                fill: none;
            }
            .cls-2 {
                @extend %transition;
                fill: #1da1f2;
            }
        }
        &.fb {
            fill: $facebook;
            width: 30px;
            height: 30px;
        }
        &.link {
            width: 40px;
            height: 45px;
            stroke: grey;
        }
    }
    // QUOTE
    .quote {
        max-width: 500px;
        margin: 15px auto;
    }
    // SOCIAL quote Fb etc.
    .social-quote {
        span {
            color: grey;
            display: block;
            margin: 10px 0;
        }
        p {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}