// // // // // // // // // //
//
//   Sources Page
//
// // // // // // // // // //

.sources-page {
    color: white;
    min-height: 50vh;
    border: 1px solid white;
    
    h2, h3 {
        text-align: center;
    }

    @include mediaMin($tablet) {
        margin-left: 140px;
    }
}
