// // // // // // // // // //
//
//   Sources Page
//
// // // // // // // // // //

.sources-page {
    font-family: "MaisonNeue-Mono";
    color: white;
    margin-top: 80px;
    overflow: auto;
    // border: 1px solid white;
    .sources-title {
        display: flex;
        background-color: black;
        width: 100%;
        height: 100px;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;
        @include mediaMin($tablet) {
            position: fixed;
            width: calc(100% - 160px);
        }
    }
    .sources-inner-wrap {
        margin-top: 100px;
    }
    
    @include mediaMin($tablet) {
        margin-left: 160px;
    }
}
