// // // // // // // // // //
//
//   Sources List
//
// // // // // // // // // //
.sources {
    font-family: "MaisonNeue-Book";
    max-width: 900px;
    margin: 0 auto;
    &.house-sources {
        h4 {
            position: relative;
            height: 40px;
            line-height: 40px;
            z-index: 11;
        }
    }
    h4 {
        @include transitions(border-bottom-color 0.8s ease-in-out);
        font-family: "MaisonNeue-Mono";
        text-align: center;
        margin: 30px 0;
        border-bottom: 2px solid transparent;
        &.fixed {
            background-color: black;
            color: white;
            position: fixed;
            top: 100px;
            left: 0;
            margin: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-bottom-color:rgba(55,55,55,0.8);
            z-index: 1;
            @include mediaMin($tablet) {
                top: 245px;
            }
        }
    }
    //
    // Lists
    //
    .sources-list-ul {
        li {
            margin: 0 10px;
            padding: 10px 5px;
            border-bottom: 0.1em solid rgba(grey, 0.3);
        }
    }
}