// // // // // // // // // //
//
//   States Dropdown
//
// // // // // // // // // //

.sources-select-box-wrap {
    @extend %transition;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 0 15px;
    margin: 0 auto;
}

.arrow-down {
    @extend %transition;
    @extend %middleR;
    width: 30px;
    fill: #555;
    pointer-events: none;
}
.select-box {
    @include appearance(none);
    font-family: "MaisonNeue-Mono";
    color: lightgrey;
    background-color: transparent;
    font-size: 36px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    cursor: pointer;
    &::-ms-expand {
        display: none;
    }
    @include mediaMax(340px) {
        font-size: 26px;
    }
}