// // // // // // // // // //
//
//   Loading Spinner
//
// // // // // // // // // //

.sk-circle {
    width: 30px !important;
    height: 30px !important;
}
.loading-spinner {
    @extend %abs-middle;
    div {
        &:nth-of-type(1n) {
            color: #e74949;
        }
        &:nth-of-type(2n) {
            color: white;
        }
        &:nth-of-type(3n) {
            color: #07648e;
        }
    }
}